@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.contact1 a {
  font-family: "Poppins", sans-serif;
  font-size: small;
}
.hero {
}
.btnc1 {
  border-radius: 0px  0px 5px 5px!important;
}
input{
  
}
input::placeholder{
  color: white;
}
@media only screen and (max-width: 600px) {
  .contact1 {
    width: 60%;
    height: 50px;
    margin-left: 20%;
  }
}
